<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>age</th>
                <th>email</th>
                <th>team</th>
                <th>rank</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            {% for p in player %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.age }}</td>
                <td>{{ p.email }}</td>
                <td>{{ p.team }}</td>
                <td>{{ p.rank }}</td>
                <td><a href={% url 'delete_player' p.id %}>DELETE</a> 
                    | <a href={% url 'update_player' p.id %}>UPDATE</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>